
лаба 6 гит/лаба 6 гит.sln
лаба 6 гит/.vs/лаба 6 гит/v16/.suo
лаба 6 гит/.vs/лаба 6 гит/v16/Browse.VC.db
лаба 6 гит/лаба 6 гит/Debug/лаба 6 гит.tlog/link.read.1.tlog
*.tlog
*.ipch
лаба 6 гит/Debug/лаба 6 гит.exe
лаба 6 гит/Debug/лаба 6 гит.ilk
*.pdb
*.obj
*.idb
*.recipe
*.log
*.vcxproj
*.filters
*.user
